Repository IamJayPrakash/liveCodeShare, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, context, hooks, lib, types, tests, config, docs, env

.github/labeler.yml:

frontend:
  - 'src/app/**/*'
  - 'src/components/**/*'
  - 'src/styles/**/*'
  - 'public/**/*'

backend:
  - 'socket-server/**/*'

context:
  - 'src/context/**/*'

hooks:
  - 'src/hooks/**/*'

lib:
  - 'src/lib/**/*'

types:
  - 'src/types/**/*'

tests:
  - 'src/tests/**/*'
  - '**/*.test.*'

config:
  - '.eslintrc.json'
  - '.prettierrc'
  - 'tailwind.config.ts'
  - 'postcss.config.mjs'
  - 'eslint.config.mjs'
  - 'tsconfig.json'
  - 'next.config.ts'
  - 'jest.config.js'
  - 'jest.setup.js'
  - 'nodemon.json'
  - 'next-env.d.ts'

docs:
  - '**/*.md'

env:
  - '.env'
  - '.env.*'

Create stale.yml
  .github/workflows/stale.yml
Labels: none

Create CODEOWNERS
  .github/CODEOWNERS
Labels: none

Create pull_request_template.md
  .github/pull_request_template.md
Labels: docs

Create bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: docs

Create feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: docs

Create dependabot.yml
  .github/dependabot.yml
Labels: none

Create CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: docs

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

fixed build failure
  .github/workflows/label.yml
  src/app/page.tsx
  src/app/room/[id]/page.tsx
  src/components/CodeEditor.tsx
  src/components/Header.tsx
  src/components/RoomPageClient.tsx
  src/components/ShareRoomButtton.tsx
  src/components/UserAvatar.tsx
  src/components/collaboration/UserCursor.tsx
  src/components/collaboration/UsersList.tsx
  src/components/layout/AppLayout.tsx
  src/components/theme/ThemeProvider.tsx
  src/components/theme/ThemeToggle.tsx
  src/context/SocketContext.tsx
  src/hooks/useCollaboration.tsx
  src/hooks/useSocket.ts
  src/styles/globals.css
Labels: frontend, context, hooks

UPDATED CODE
  next.config.ts
  socket-server/index.ts
  src/app/room/[id]/page.tsx
  src/context/SocketContext.tsx
Labels: frontend, backend, context, config

updated code flow
  package-lock.json
  package.json
  socket-server/index.ts
  src/app/room/[id]/page.tsx
  src/components/RoomInfo.tsx
  src/components/RoomPageClient.tsx
Labels: frontend, backend

fixed rom ui
  src/app/room/[id]/page.tsx
Labels: frontend

fix build
  src/app/room/[id]/page.tsx
  src/components/ui/calendar.tsx
Labels: frontend

fixedn build
  src/app/layout.tsx
  src/app/room/[id]/page.tsx
  src/components/CodeEditor.tsx
  src/components/ShareRoomButtton.tsx
  src/components/layout/AppLayout.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.tsx
Labels: frontend

Create SECURITY.md
  SECURITY.md
Labels: docs

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

Added other pages
  src/app/[id]/loading.tsx
  src/app/[id]/page.tsx
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/loading.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/room/[id]/loading.tsx
  src/components/Footer.tsx
  src/components/RoomPageClient.tsx
Labels: frontend

Added loading pages
  src/app/about/loading.tsx
  src/app/contact/loading.tsx
Labels: frontend

[FEATURE] Privacy Policy
  src/app/privacy-policy/loading.tsx
  src/app/privacy-policy/page.tsx
Labels: frontend

[FIX] Privacy Policy:
  src/app/privacy-policy/page.tsx
Labels: frontend

Update src/app/privacy-policy/page.tsx
  src/app/privacy-policy/page.tsx
Labels: frontend

Added seo to site
  next-sitemap.config.js
  package-lock.json
  package.json
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/api/og/route.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/privacy-policy/page.tsx
  src/app/robots.txt/route.ts
  src/app/server-sitemap.xml/route.ts
  src/components/Footer.tsx
  src/components/Seo.tsx
  src/lib/metaData.ts
Labels: frontend, lib

Help page added with simple instruction in it
  src/app/help/loading.tsx
  src/app/help/page.tsx
  src/components/Header.tsx
Labels: frontend

Fix unescaped entities in Help page
  src/app/help/page.tsx
Labels: frontend

Help page added with simple instruction in it. Help button added on the right side of the navbar (#35)
  src/app/help/loading.tsx
  src/app/help/page.tsx
  src/components/Header.tsx
Labels: frontend

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/other-issue-.md
Labels: docs

Create eslint.yml
  .github/workflows/eslint.yml
Labels: none

[REMOVED ES lint Workflow]
  .github/workflows/eslint.yml
Labels: none

feat: added copy toast message in CodeEditor
  src/app/layout.tsx
  src/components/CodeEditor.tsx
Labels: frontend

[Fixed Formatting]
  README.md
  socket-server/index.ts
  src/context/SocketContext.tsx
  src/lib/socket.ts
  src/lib/utils.ts
Labels: backend, context, lib, docs

fixed BE deploynment failure
  package.json
  public/sitemap-0.xml
  socket-server/index.js
  tsconfig.json
Labels: frontend, backend, config

feat: added copy toast message in CodeEditor (#37)
  src/app/layout.tsx
  src/components/CodeEditor.tsx
Labels: frontend

Redesign Footer component for better visual appeal and responsiveness
  src/components/Footer.tsx
Labels: frontend

Redesign Footer component for better visual appeal and responsiveness (#48)
  src/components/Footer.tsx
Labels: frontend

bugfix: editor and subheader overlapping
  package.json
  public/sitemap-0.xml
  socket-server/index.js
  src/app/layout.tsx
  src/components/CodeEditor.tsx
  src/components/MonacoCodeEditor.tsx
  tsconfig.json
Labels: frontend, backend, config

Addded ui enhancement
  package-lock.json
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  public/sitemap-0.xml
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/help/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/components/AnimatedBackground.tsx
Labels: frontend

Addded ui enhancement (#56)
  package-lock.json
  package.json
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
  public/sitemap-0.xml
  src/app/about/page.tsx
  src/app/contact/page.tsx
  src/app/help/page.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/privacy-policy/page.tsx
  src/components/AnimatedBackground.tsx
Labels: frontend
