Repository IamJayPrakash/liveCodeShare, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, context, hooks, lib, types, tests, config, docs, env

fix(ui): improve responsive layout and alignment on all devices
  package-lock.json
  src/app/globals.css
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
Labels: frontend

fix(ui): improve responsive layout and alignment on all devices (#57)
  package-lock.json
  src/app/globals.css
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
Labels: frontend

bugfix: editor & subheader overlappin
  src/components/CodeEditor.tsx
Labels: frontend

bugfix: editor & subheader overlappin (#58)
  src/components/CodeEditor.tsx
Labels: frontend

improved the styles of the help page
  src/app/help/HelpPage.module.css
  src/app/help/page.tsx
Labels: frontend

fix: fix user count not showing when users join a room
  src/components/RoomPageClient.tsx
  src/hooks/useRoomUserCount.ts
Labels: frontend, hooks

feat: add toast for the user entering the room
  src/components/RoomPageClient.tsx
Labels: frontend

fix: update user-joined event emission and add toast notification for new users joining the room
  socket-server/index.js
  src/components/RoomPageClient.tsx
Labels: frontend, backend

Fix user count not showing when users join a room (#64)
  socket-server/index.js
  src/components/RoomPageClient.tsx
  src/hooks/useRoomUserCount.ts
Labels: frontend, backend, hooks

Update README.md
  README.md
Labels: docs

improved the styles of the help page
  src/app/help/HelpPage.module.css
  src/app/help/page.tsx
Labels: frontend

resolved comment and optimized the code
  src/app/globals.css
  src/app/help/HelpPage.module.css
  src/app/help/page.tsx
Labels: frontend

[READY] Improved Help Page UI (#68)
  src/app/globals.css
  src/app/help/HelpPage.module.css
  src/app/help/page.tsx
Labels: frontend

Update Footer.tsx
  src/components/Footer.tsx
Labels: frontend

Add Google AdSense account to metadata configuration
  src/lib/metaData.ts
Labels: lib

Fix React Server Components CVE vulnerabilities
  package-lock.json
  package.json
Labels: none

feat: added code compilation
  jest.config.js
  package-lock.json
  public/sitemap-0.xml
  socket-server/index.js
  src/app/api/health/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/AnimatedBackground.tsx
  src/components/CodeEditor.tsx
  src/components/ConnectionStatus.tsx
  src/components/Header.tsx
  src/components/LanguageBadge.tsx
  src/components/ShareRoomButtton.tsx
  src/hooks/useSocketHealth.ts
Labels: frontend, backend, hooks, config

feat
  src/app/about/AboutClient.tsx
  src/app/about/page.tsx
  src/app/contact/ContactClient.tsx
  src/app/contact/page.tsx
  src/app/help/HelpClient.tsx
  src/app/help/page.tsx
  src/app/layout.tsx
  src/app/privacy-policy/PrivacyPolicyClient.tsx
  src/app/privacy-policy/page.tsx
  src/app/robots.txt/route.ts
  src/app/terms/TermsClient.tsx
  src/app/terms/page.tsx
  src/components/AnimatedBackground.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/select.tsx
  src/hooks/useSocketHealth.ts
  src/lib/metaData.ts
Labels: frontend, hooks, lib

feat adsense
  src/app/page.tsx
  src/components/home/CallToActionSection.tsx
  src/components/home/FAQSection.tsx
  src/components/home/FeatureSection.tsx
Labels: frontend

feat fix build
  public/sitemap-0.xml
  src/app/layout.tsx
  src/app/sitemap.ts
  src/components/Header.tsx
  src/components/RoomInfo.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/lib/metaData.ts
Labels: frontend, lib

upgraded next
  package-lock.json
  package.json
  public/sitemap-0.xml
  tsconfig.json
Labels: frontend, config

fixed tailwind animate version
  package-lock.json
  package.json
  public/sitemap-0.xml
Labels: frontend

feat
  .github/workflows/playwright.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  test_output.txt
  test_results.json
  tests/full-flow.spec.ts
Labels: none

feat test
  home.html
  next.config.ts
  playwright.config.ts
  results.json
  results.log
  test.log
  test_output.log
  tests/full-flow.spec.ts
Labels: config

feat
  public/sitemap-0.xml
  src/app/contact/ContactClient.tsx
  src/app/faq/FAQClient.tsx
  src/app/faq/page.tsx
  src/app/page.tsx
  src/components/AnimatedBackground.tsx
  src/components/Footer.tsx
  src/components/home/CallToActionSection.tsx
  src/components/home/FAQSection.tsx
  src/components/home/FeatureSection.tsx
  src/lib/metaData.ts
Labels: frontend, lib

feat
  src/app/layout.tsx
Labels: frontend

feat
  public/sitemap-0.xml
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy-policy/PrivacyPolicyClient.tsx
  src/components/AdSense.tsx
  src/components/CookieConsent.tsx
  src/components/home/ContentSection.tsx
Labels: frontend

feat
  package-lock.json
  package.json
  public/sitemap-0.xml
  socket-server/index.js
  src/app/page.tsx
  src/components/CodeEditor.tsx
  src/components/Header.tsx
  src/components/LanguageBadge.tsx
  src/components/RoomPageClient.tsx
  src/components/ShareRoomButton.tsx
  src/components/home/BlogSection.tsx
  src/components/layout/AppLayout.tsx
  src/components/ui/command.tsx
  src/components/ui/dialog.tsx
  src/components/ui/tooltip.tsx
  src/context/SocketContext.tsx
  src/data/blogPosts.ts
  src/hooks/useRoomUserCount.ts
  src/hooks/useSocket.ts
  tailwind.config.ts
Labels: frontend, backend, context, hooks, config

.github/labeler.yml:

frontend:
  - 'src/app/**/*'
  - 'src/components/**/*'
  - 'src/styles/**/*'
  - 'public/**/*'

backend:
  - 'socket-server/**/*'

context:
  - 'src/context/**/*'

hooks:
  - 'src/hooks/**/*'

lib:
  - 'src/lib/**/*'

types:
  - 'src/types/**/*'

tests:
  - 'src/tests/**/*'
  - '**/*.test.*'

config:
  - '.eslintrc.json'
  - '.prettierrc'
  - 'tailwind.config.ts'
  - 'postcss.config.mjs'
  - 'eslint.config.mjs'
  - 'tsconfig.json'
  - 'next.config.ts'
  - 'jest.config.js'
  - 'jest.setup.js'
  - 'nodemon.json'
  - 'next-env.d.ts'

docs:
  - '**/*.md'

env:
  - '.env'
  - '.env.*'
