Repository IamJayPrakash/liveCodeShare, pull requests merged in 2025-04, with the labels that each got.

#29 [FEATURE] Privacy Policy
  src/app/privacy-policy/loading.tsx
  src/app/privacy-policy/page.tsx
Labels: frontend

#34 Added seo to site
  next-sitemap.config.js
  package-lock.json
  package.json
  public/robots.txt
  public/sitemap-0.xml
  public/sitemap.xml
  src/app/api/og/route.tsx
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/privacy-policy/page.tsx
  src/app/robots.txt/route.ts
  src/app/server-sitemap.xml/route.ts
  src/components/Footer.tsx
  src/components/Seo.tsx
  src/lib/metaData.ts
Labels: frontend, lib

#37 Feature: added copy toast message in CodeEditor
  src/app/layout.tsx
  src/components/CodeEditor.tsx
Labels: frontend

#48 Redesign Footer component for better visual appeal and responsiveness
  src/components/Footer.tsx
Labels: enhancement, javascript, frontend, Next js, React, Typescript
